<h1 class="center">Properties</h1>
<table class="table table-striped table-responsive">
  <tr>
    <th> Address</th>
    <th>City</th>
    <th>District</th>
    <th>Suburb</th>
    <th>Post Code</th>
    <th>Approval Status</th>
    <th colspan="2">Actions</th>
  </tr>

  <% @addresses.each do |address| %>
    <tr>
      <td><%= address.address1 %>  <%= address.address2 %></td>
      <td><%= address.city %></td>
      <td><%= address.district %></td>
      <td><%= address.suburb %></td>
      <td><%= address.post_code %></td>
      <td><%= address.approval_status %></td>
      <td>
        <%= link_to "Manage Property", admin_user_address_path(@user, address) , class: "btn btn-primary" %>
      </td>
    </tr>
  <% end %>
</table>
