<h1 class="center">All Users</h1>
<table id="users">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Contact number</th>
    <th>Email</th>
    <th colspan = "2">Actions</th>
  </tr>

  <tr>
    <% @users.each do |user| %>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.phone %></td>
      <td><%= user.email %></td>
      <td><%= link_to 'Show', user_path(user) %></td>
  </tr>
    <% end %>
</table>
