<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Minishop", root_path, class: "navbar-brand" %>
    </div>
    <ul class="nav nav-pills">
      <li><%= link_to 'Home', root_path , class: 'nav-link'%></li>
      <li><%= link_to 'About', root_path, class: 'nav-link' %></li>
      <li><%= link_to 'Join', root_path, class: 'nav-link' %></li>
      <li><%= link_to 'My Account', root_path, class: 'nav-link' %></li>
    </ul>
  </div>
</nav>
